<footer class="row border border-warning border-left-0 border-right-0 border-bottom-0 pie-index align-content-start fixed-bottom">
  <section class="col-5  ml-2 align-self-center">
    <address>
      <a class="m-2" href="#">Acerda de</a>
      <a class="m-2" href="#">Ayuda</a>
      <a class="m-2" href="#">Sugerencias</a>
      <a class="m-2" target="_blank" href="https://play.las.leagueoflegends.com/es_AR" >RIOT</a>
      <a class="m-2" href="#">Desarrollador</a>
    </address>
  </section>

  <section class="row">
    <small class="col align-self-center text-light">© 2012-2018 LegendsOP datos basados en Ligue Of Legends North America</small>
  </section>




</footer>
</div>
<!-- FIN CONTENIDO-->
<script src="js/jquery-3.3.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>
