<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="with=devide-with, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie-edge">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/custom_styles.css">
  <title>LegendsOP - Estadisitcas - ligue of legends - lol - partida en vivo - replays - espectar en vivo - analisis de campeones</title>
  <script src="js/legendsop.js" charset="utf-8"></script>
</head>
<body id="index">
  <!-- CONTENIDO-->
  <div class="container-fluid">
    <header class="row cabecera align-items-center">
      <section class="col-4">
        <img src="img/logos/logo.png">
      </section>
      <section class="col-7">

      </section>
      <section class"col-1 align-self-star">
        <button type="button" data-toggle="modal" data-target="#modalregion" class="btn btn-outline-warning"><img src="img/icons/spain.png" style="width:30px;">  <span class="badge badge-primary region-text">LAS</span></button>
        <section class="modal fade" id="modalregion">
          <section class="modal-dialog">
            <section class="modal-content">
              <header class="modal-header">
                <h4 class="modal-title">Preferencias</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </header>
              <section class="modal-body">
                <section class="modal-body"><span>Regiones</span></section><div class="border-top"></div>
                <section class="modal-body"><span>Idiomas</span></section>

              </section>
              <footer class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Guardar</button>
              </footer>
            </section>
          </section>
        </section>
      </section>
    </header>
    <nav class="row  navbar navbar-expand-sm shadow border border-warning border-left-0 border-right-0 custom_nav">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#uno">
        <span class="navbar-toggler-icon "></span>
      </button>
      <div class="collapse navbar-collapse" id="uno">
        <ul class="navbar-nav">

          <li class="nav-item"><a href="#" class="nav-link">Inicio</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Estadisicas de Campeones</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Estadisicas de Campeones (PRO)</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Rankings</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Partidas (PRO)</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Replays (PRO)</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Torneos</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Competitivo</a></li>

        </ul>
      </div>
    </nav>
